<?php
use Daniel\Vote\Model\Category;
$filter = new Category('filter', true, isset($_GET[Category::PARAM]) ? $_GET[Category::PARAM] : null);
$category = new Category('category', true);
?>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div id="header" class="form-check">
        <?php
            if (array_key_exists('email', $_SESSION)) {
                printf('<b>%s</b>', htmlentities($_SESSION['email']));
                printf('&nbsp;<a href="%s">Logout</a><br/>', $url['logout']);
        ?>
        <!-- create question -->
        <form id="create-question" method="post" action="/q">
            <label for="question">Question</label>
            <input id="question" class="form-control" type="text" name="q" placeholder="Question?" required />
            <br/>
            <fieldset id="categories">
                <legend>Categories</legend>
                <?= $category->render(Category::PARAM); ?>
            </fieldset>
            <input class="btn btn-danger" type="submit" value="Create question"/>
        </form>
        <?php
            } else {
        ?>
            <!-- login -->
            <div class="login btn btn-success">
                <a href="<?php echo filter_var($url['auth'], FILTER_SANITIZE_URL); ?>" class="login-btn">Sign in with Google</a>
            </div>
            <?php
                printf('&nbsp;or <a href="%s">login here</a>', $url['login']);
            }
        ?>
        </div>
        <!-- filter -->
        <form id="filter" method="GET">
            <fieldset id="filter">
                <legend>Filter by categories</legend>
                <?= $filter->render(Category::PARAM); ?>
                &nbsp;
                <input class="btn btn-primary" type="submit" value="Filter"/>
            </fieldset>
        </form>
        <div id="body">
            <ul>
        <!-- questions -->
        <?php
            $i = 0;
            foreach ($questions as $q) {
                $i++;
                if ($i > $pageSize) {
                    break;
                }
                printf('<li><a href="/q/%s">%s</a><br/>by [<div style="font-weight: bold; display: inline;">%s</div>]&nbsp;<i>(%d votes)</i></li>',
                    htmlentities($q->get('id')),
                    htmlentities($q->get('text')),
                    htmlentities($q->get('created_by')),
                    $q->get('votes')
                );
            }
        ?>
            </ul>
        </div>

        <!-- pagination -->
        <?php
        if ($page > 1) {
        ?>
        <a href="<?= $url['prev']; ?>">Prev</a>
        <?php
        }
        ?>
        &nbsp;<b>[<?= $page ?>]</b>&nbsp;
        <?php
        if ($hasNext) {
        ?>
        <a href="<?= $url['next']; ?>">Next</a>
        <?php } ?>
    </body>
</html>
