<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div id="header">
        <?php
            if (array_key_exists('email', $_SESSION)) {
                printf('<b>%s</b><br/>', htmlentities($_SESSION['email']));
                printf('<a href="%s">Logout</a><br/><br/>', $url['logout']);
        ?>
        <form id="create-question" method="post" action="/q">
            Create question<br/>
            <input type="text" name="q" placeholder="Question?" required />
            <input type="submit" />
        </form>
        <?php
            } else {
        ?>
            <div class="login">
                <a href="<?php echo filter_var($url['auth'], FILTER_SANITIZE_URL); ?>" class="login-btn">Sign in with Google</a>
        <?php
                printf('&nbsp;or <a href="%s">login here</a>', $url['login']);
            }
        ?>
            </div>
        </div>
        <div id="body">
            <ul>
        <?php
            foreach ($questions as $q) {
                printf('<li><a href="/q/%s">%s</a><br/>by [<div style="font-weight: bold; display: inline;">%s</div>]&nbsp;<i>(%d votes)</i></li>',
                    htmlentities($q['id']),
                    htmlentities($q['text']),
                    htmlentities($q['created_by']),
                    $q['votes']
                );
            }
        ?>
            </ul>
        </div>
        <?php
        if ($page > 1) {
        ?>
        <a href="<?php printf($format, $page - 1); ?>">Prev</a>
        <?php
        }
        ?>
        &nbsp;<b>[<?= $page ?>]</b>&nbsp;
        <?php
        if ($hasNext) {
        ?>
        <a href="<?php printf($format, $page + 1); ?>">Next</a>
        <?php } ?>
    </body>
</html>
