<?php
use Daniel\Vote\Model\Category;
$filter = new Category('filter', true, isset($_GET[Category::PARAM]) ? $_GET[Category::PARAM] : null);
$category = new Category('category', true);
?>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div id="header">
        <?php
            if (array_key_exists('email', $_SESSION)) {
                printf('<b>%s</b><br/>', htmlentities($_SESSION['email']));
                printf('<a href="%s">Logout</a><br/><br/>', $url['logout']);
        ?>
        <hr/>
        <form id="create-question" method="post" action="/q">
            <label id="question">Question</label>
            <input id="question" type="text" name="q" placeholder="Question?" required />
            <br/>
            <fieldset id="categories">
                <legend>Categories</legend>
                <?= $category->render(Category::PARAM); ?>
            </fieldset>
            <input type="submit" value="Create question"/>
        </form>
        <?php
            } else {
        ?>
            <div class="login">
                <a href="<?php echo filter_var($url['auth'], FILTER_SANITIZE_URL); ?>" class="login-btn">Sign in with Google</a>
        <?php
                printf('&nbsp;or <a href="%s">login here</a>', $url['login']);
            }
        ?>
            </div>
        </div>
        <form id="filter" method="GET">
            <fieldset id="filter">
                <legend>Filter categories</legend>
                <?= $filter->render(Category::PARAM); ?>
                <br/>
                <input type="submit" value="Filter"/>
            </fieldset>
        </form>
        <div id="body">
            <ul>
        <?php
            $i = 0;
            foreach ($questions as $q) {
                $i++;
                if ($i > $pageSize) {
                    break;
                }
                printf('<li><a href="/q/%s">%s</a><br/>by [<div style="font-weight: bold; display: inline;">%s</div>]&nbsp;<i>(%d votes)</i></li>',
                    htmlentities($q['id']),
                    htmlentities($q['text']),
                    htmlentities($q['created_by']),
                    $q['votes']
                );
            }
        ?>
            </ul>
        </div>
        <?php
        if ($page > 1) {
        ?>
        <a href="<?= $url['prev']; ?>">Prev</a>
        <?php
        }
        ?>
        &nbsp;<b>[<?= $page ?>]</b>&nbsp;
        <?php
        if ($hasNext) {
        ?>
        <a href="<?= $url['next']; ?>">Next</a>
        <?php } ?>
    </body>
</html>
