form#create-question {
    padding-left: 5%;
    padding-bottom: 1%;
}

#create-question > label {
    font-size: calc(1.275rem + .3vw);
}

div#body {
    /* background-color: rgb(162, 251, 10); */
    padding: 10px;
}

li {
    margin: 5px;
    padding: 5px;
    background-color: silver;
    font-weight: bolder;
}

li > a {
    text-decoration: none;
}

a.login-btn {
    color: white;
    text-decoration: none;
}

div#header > alert {
    float: right;
}

div.card {
    margin-bottom: 5px;
}

div.alert.alert-warning {
    margin-bottom: 0;
}

div.alert.alert-info {
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 15px;
}

input.form-check-input {
    cursor: grab;
}